.gitignore
hizkia_biasa.jpg
hizkia_fucek.jpg
hizkia_oli_samping.jpg
Adji/
Bill/
Hizkia/
Khanif/
Ridwan/
150cm Atas, 170cm Samping/Galileo/
150cm Atas, 170cm Samping/Hizkia/
150cm Atas, 170cm Samping/Nicholas/
150cm Atas, 170cm Samping/Ridwan/
150cm Atas, 170cm Samping/Hasil/data_frame/
150cm Atas, 170cm Samping/Hasil/final_frame/